<div class="d-flex align-items-center w-100">

  <div class="d-flex align-items-center">
    <h1 class="h4 mb-0">
      <a class="nav-link" href="{% url 'task_hub:index' %}">Task Hub</a>
    </h1>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_hub:worker-list' %}">Worker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Position</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Project</a>
      </li>
    </ul>
  </div>

  <div class="ml-auto d-flex align-items-center">
    {% if user.is_authenticated %}
      <span class="text-white mr-3">
        User: {{ user.username }}
      </span>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-light btn-sm">
          Logout
        </button>
      </form>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">
        Login
      </a>
    {% endif %}
  </div>

</div>
