{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    <title>Task Hub</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="bg-light">
  <header class="bg-primary text-white py-3 shadow-sm">
    <div class="container d-flex justify-content-between align-items-center">
      <nav class="d-flex align-items-center w-100">
        {% block top_nav %}
          {% include 'includes/top_nav.html' %}
        {% endblock %}
      </nav>
    </div>
  </header>

  <div class="container py-5">
    {% block content %}
    {% endblock %}
  </div>

  <div class="container">
    {% block pagination %}
      {% include 'includes/pagination.html' %}
    {% endblock %}
  </div>

  <footer class="bg-light text-muted text-center py-4 mt-5 border-top">
    {% block footer %}
      {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>

</body>
</html>
